# Ignore everything
*

# Except notebooks directory
!notebooks/
!notebooks/published/
!notebooks/published/*.ipynb

# Except latex-templates directory
!latex-templates/
!latex-templates/**

# And README
!README.md
